<!DOCTYPE HTML>
<html>
<head>
    <title>Employee Recognition Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h3>Please name the following person:</h3>

        <div class="image-container">
            <img id="employee-photo" class="img-rounded" />
            <!-- TODO: Put in a loading image here -->
        </div>

        <div class="options-container">
            <button id="option-a" type="button" class="btn btn-default">Name A</button>
            <button id="option-b" type="button" class="btn btn-default">Name B</button>
            <button id="option-c" type="button" class="btn btn-default">Name C</button>
        </div>
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/js/bootstrap.min.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>