<!DOCTYPE HTML>
<html>
<head>
    <title>SE Employee Flash Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <div class="row header-row">
            <div class="col-md-6 col-md-offset-3">
                <p class="lead">Tap card to flip. Tap again for next.</p>
            </div>
        </div>
        <div class="row header-row">
            <div class="col-md-6 col-md-offset-3">
                <label id="select-drilldown-label" for="select-drilldown">Location filter:</label>
                <select id="select-drilldown">
                    <option value="all">All Employees</option>
                    <option value="New York">New York, NY</option>
                    <option value="London">London, UK</option>
                    <option value="Denver">Denver, CO</option>
                    <option>Remote</option>
                </select>
            </div>
            <div class="col-md-3 counter-label">
                <p class="lead"><span class="label label-info"><span class="seen-amount"></span>/<span class="total-amount"></span></span></p>
            </div>
        </div>
        <div class="row main-row">
            <div class="col-md-6 col-md-offset-3 card-container">
                <div class="card">
                    <div class="face front">
                        <img id="employee-photo" class="img-rounded" />
                    </div>
                    <div class="face back">
                        <p id="employee-name" class="lead"></p>
                        <p id="employee-description"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//code.jquery.com/jquery.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>